<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="DefaultConnection" 
           connectionString="Server=tcp:bruna-danilo.database.windows.net;Database=Testers;User ID=danilo@bruna-danilo;Password=Bd@111014;Trusted_Connection=False;Encrypt=True;" 
           providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
    </appSettings>
</configuration>
